---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - ODBxjwDW0t7QOUjV6fee5g==YEgkXSRBoYU7PrJb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d07877de-13d4-416b-89f6-62748ab2994c
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JTLYLHSFvHcFVYw=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 226.97, "aqi": 2}, "NO2": {"concentration":
        5.44, "aqi": 6}, "O3": {"concentration": 64.37, "aqi": 66}, "SO2": {"concentration":
        2.65, "aqi": 3}, "PM2.5": {"concentration": 3.13, "aqi": 10}, "PM10": {"concentration":
        4.26, "aqi": 3}, "overall_aqi": 66}'
  recorded_at: Mon, 07 Aug 2023 17:11:42 GMT
recorded_with: VCR 6.2.0
